
.blog-container {
  border: 1px solid #ccd1d1;
  width: 92%;
  height: 57.6vh;
}
.blog-container:hover{
    cursor: pointer;
}
.blog-container button{
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: start;
}
.blog-container .links{
  text-decoration: none;
}
.blog-row{
  height: 100%;
}
.blog-row .image{
  height: 100%;
}
.blog-row .image img{
  height: 100%;
}
.blog-container:hover .info h4{
  color: var(--primary-color);
}
.blog-container:hover .info .description{
  color: var(--primary-color);
}
.info {
  margin: 2.3em 0 0 1em;
  width: 80%;
}
.date-time {
  align-items: center;
}
.date,
.time {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
.info h4 {
  font-weight: 600;
  color: black;
}
.info .description {
  letter-spacing: 0.07em;
  color: var(--p-color);
}


@media screen and (max-width: 767px){
  .blog-container{
    height: 72vh;
    width: 100%;
  }
 .blog-row .image{
  height: 13em;
 }
 .blog-row .image img{
  height: 100%;
  width: 100%;
  object-fit: fill;
 }
 .blog-row .info{
  width: 70%;
 }

}