
.response-form{
    background-color:#FDEDEC;
    height: 110vh;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.response-form h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.7rem;
    color: black;
}
.form-container{
    padding: 0 2em;
    margin-top: 6em;
    display: flex;
    flex-direction: column;
}
.form-group-container{
    margin-bottom: 2.5em;
}
.response-form .form-group label{
    color: #272929;
    font-weight: 300; 
}
.form-container button{
    margin: 2em auto;
    padding: .6em 3em;
    font-size: 1.1rem;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.form-container button:hover{
    background-color: black;
}
.form-container input{
    color: #272929;
    border-bottom: 1px solid gray;
    width: 90%;
    padding-left: 3px;
    font-size: 1.07rem;
}
.form-container input:hover{
    border-bottom: 2px solid var(--primary-color);
}
.form-container input:focus{
    border-bottom: 2px solid black;
}
.textarea-with-arrows{
    position: relative;
}
textarea{
    width: 90%;
    height: 1.6em;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    padding-left: 3px;
    font-size: 1.07rem;
    resize: none;
    color: #272929;
}
textarea:hover{
    border-bottom: 2px solid var(--primary-color);
}
textarea:focus{
    outline: none;
    border-bottom: 2px solid black;
}

@media screen and (max-width: 480px) {
    .response-form h1{
        font-size: 2rem;
    }
}
