main{
    margin-top: 6.5em;
}
.main-container{
    margin: 0 8.5%;
}
.blogs button{
    border: none;
    margin: 1em 0;
    padding: 1em 3em;
    outline: 0;
    color: white;
    background-color: var(--primary-color);
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.blogs button:hover {
    background-color: black;
}
.blog-component{
    margin-bottom: 2em;
}
.subscribe{
    background-color: #FDEDEC;
    padding: 4.5em 2.5em;
    
}
.followup{
    padding: 2em;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.followup form{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.followup h1{
    color: white;
    margin: .7em auto;
    width: 80%;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group label{
    color: white;
    font-weight: bold;
}
.form-group label::after {
    content: "*";
    color: white;
    margin-left: 4px;
    font-weight: bold;
  }
  .form-group input{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
  }
 .subscribe form button{
    margin: 1.5em auto;
    color: var(--primary-color);
    padding: .5em 3em;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .3s ease-in-out;
  }
  .subscribe form button:hover{
    background-color: black;
    color: white;
  }
  