
.nav-component{
  position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
    z-index: 999;
}
.nav-link{
  color: black;
}
.nav-link:hover{
  color: var(--primary-color)
}
.nav-component .active{
  color: var(--primary-color) !important
}




@media screen and (max-width: 480px) {
  .nav-component{
      position: static;
      margin-top: 1em;
  }

  .offcanvas-max-width-600 {
    width: 75%;
    max-width: 550px;
  }
}