
.nav-component{
  position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
    z-index: 999;
}
.nav-link{
  color: black;
}
.nav-link:hover, .nav-link.active{
  color: var(--primary-color)
}
.nav-link.active{
  color: var(--primary-color)
}

@media screen and (max-width: 480px) {
  .nav-component{
      position: static;
      margin-top: 1em;
  }
}