.navbar-nav .nav-item.active .nav-link {
  color: #ea580c;
}
.navbar-nav .nav-item .nav-link {
  color: black;
  transition: color 0.4s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #ea580c;
} 
.nav-component{
  position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
    z-index: 999;
}